* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.button {
    background-image: linear-gradient(to bottom, #feb05d, #ff4d00);
    width: 315px;
    height: 72px;
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.horizontal-line {
    height: 4px;
    width: 220px;
    margin: 0 auto;
    margin-top: 14px;
    background-color: #f9bf3b;
}
/* ----------------------------------------------------- */
/* promo screen */
/* ----------------------------------------------------- */
.promo {
    background: url("../img/main_bg.jpg") center/cover no-repeat fixed;
    height: 800px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.promo__logo-block {
    text-align: center;
}

.promo__logo {
    margin-top: 22px;
    width: 72px;
    height: 89px;
}

.promo__logo-text {
    font-size: 16px;
    margin-top: 13px;
}

.promo h1 {
    color: #f9bf3b;
    font-size: 41px;
    margin-top: 52px;
}

.promo h3 {
    color: #f9bf3b;
    font-size: 41px;
    margin-top: 12px;
}

.promo h2 {
    font-size: 80px;
    margin-top: 12px;
    font-weight: 900;
}

.promo__description {
    font-size: 21px;
    margin-top: 20px;
    text-transform: none;
}
.promo__description span {
    color: #f9bf3b;
}

.promo button {
    margin-top: 75px;
}

.promo__arrow-block img {
    margin-top: 10px;
}

.promo__arrow-block p {
    margin-top: 75px;
    font-size: 15px;
}
/* ----------------------------------------------------- */
/* free-webinars */
/* ----------------------------------------------------- */
.free-webinars {
    height: 592px;
    background-color: #efefef;
    /* prevent collapsing margins */
    border-top: 1px solid transparent;
    text-align: center;
}

.free-webinars h2 {
    text-transform: uppercase;
    color: #252525;
    font-size: 30px;
    margin-top: 74px;
}

.free-webinars .horizontal-line {
    margin-top: 14px;
}

.free-webinars h3 {
    margin-top: 15px;
    color: #4a4a4a;
    font-size: 23px;
}
.free-webinars__icon-wrapper {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}

.free-webinars__item {
    width: 360px;
}

.free-webinars__icon-description {
    margin-top: 15px;
    color: #4a4a4a;
}
/* ----------------------------------------------------- */
/* what is online radio */
/* ----------------------------------------------------- */
.needed {
    background-color: #000;
    height: 564px;
    /* prevent collapsing margins */
    border-top: 1px solid transparent;
    text-align: right;
    position: relative;
}
.needed h3 {
    color: #f9bf3b;
    text-transform: uppercase;
    margin-top: 100px;
}
.needed__description {
    font-size: 16px;
    color: #fff;
    font-weight: lighter;
    width: 750px;
    float: right;
    margin-top: 16px;
    position: relative;
    z-index: 1;
}
.needed__description-bold {
    font-weight: bold;
}
.needed img {
    position: absolute;
    left: 307px;
    top: 191px;
}

/* ----------------------------------------------------- */
/* What is online radio and why is it needed? */
/* ----------------------------------------------------- */
.able {
    background: url("../img/able-bg.jpg") center/cover no-repeat fixed;
    color: #efefef;
    /* prevent collapsing margins */
    border-top: 1px solid transparent;
    height: 450px;
}

.able h2 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 80px;
}

.able .horizontal-line {
    margin-top: 14px;
}

.able__wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.able__item {
    width: 224px;
    text-align: center;
}
.able__description {
    font-size: 16px;
    font-weight: lighter;
    margin-top: 18px;
}

.able__circle {
    background-color: #f9bf3b;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
/* ----------------------------------------------------- */
/* Present                                              */
/* ----------------------------------------------------- */
.present {
    background-color: #efefef;
    height: 613px;
    text-align: center;
}

.present img {
    margin-top: 80px;
    width: 150px;
    height: 150px;
}

.present div {
    margin-top: 80px;
    color: #252525;
    font-size: 30px;
    display: inline-block;
    width: 1120px;
}

.present button {
    margin-top: 60px;
}
/* ----------------------------------------------------- */
/* First webinar                                       */
/* ----------------------------------------------------- */
.first-webinar {
    /* prevent collapsing margins */
    border-top: 1px solid transparent;
    background-color: #000;
    height: 528px;
    text-align: center;
}
.first-webinar img {
    margin-top: 50px;
}
.first-webinar__header {
    margin-top: 40px;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
}

.first-webinar__date {
    margin-top: 20px;
    color: #f9bf3b;
    text-transform: uppercase;
    font-size: 36px;
}
.first_webinar__descr {
    margin-top: 20px;
    font-size: 23px;
    color: #fff;
}
/* ----------------------------------------------------- */
/* footer                                  */
/* ----------------------------------------------------- */
.footer {
    text-align: center;
    color: #888;
    height: 165px;
    background-color: #1a1a1a;
    /* prevent collapsing margins */
    border-top: 1px solid transparent;
    font-size: 16px;
}
.footer__refs {
    margin-top: 58px;
}
.footer a,
.footer a:visited {
    color: #888;
}
.footer__call-us {
    margin-top: 10px;
}
