* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}
/* ----------------------------------------------------- */
/* main screen */
/* ----------------------------------------------------- */
.first-screen {
    background: url("../img/main_bg.jpg") center/cover no-repeat fixed;
    height: 800px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.first-screen__logo-block {
    text-align: center;
}

.first-screen-logo {
    margin-top: 22px;
    width: 72px;
    height: 89px;
}

.first-screen__logo-text {
    font-size: 16px;
    margin-top: 13px;
}

.first-screen h3 {
    color: #f9bf3b;
    font-size: 41px;
}

.first-screen h2 {
    font-size: 80px;
    margin-top: 12px;
}

.first-screen__h3-first {
    margin-top: 52px;
}

.first-screen__h3-second {
    margin-top: 12px;
}

.first-screen__description {
    font-size: 21px;
    margin-top: 20px;
    text-transform: none;
}
.first-screen__description span {
    color: #f9bf3b;
}

.first-screen button {
    width: 315px;
    height: 72px;
    margin-top: 75px;
    display: block;
    margin: 75px auto 0 auto;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #feb05d, #ff4d00);
    font-size: 21px;
    text-transform: uppercase;
}

.first-screen__arrowBlock img {
    margin-top: 10px;
}

.first-screen__arrowBlock p {
    margin-top: 75px;
    font-size: 15px;
}
/* ----------------------------------------------------- */
/* free-webinars */
/* ----------------------------------------------------- */
.free-webinars {
    height: 592px;
    background-color: #efefef;
    /* prevent collapsing margins */
    border-top: 1px solid transparent;
    text-align: center;
}

.free-webinars h2 {
    text-transform: uppercase;
    color: #252525;
    font-size: 30px;
    margin-top: 74px;
}
.free-webinars__horizontal-line {
    height: 4px;
    width: 220px;
    margin: 0 auto;
    margin-top: 14px;
    background-color: #f9bf3b;
}
.free-webinars h3 {
    margin-top: 15px;
    color: #4a4a4a;
    font-size: 23px;
}
.free-webinars__icon-wrapper {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}

.free-webinars__item {
    width: 360px;
    margin: 0 15px;
}

.free-webinars__icon-description {
    color: #4a4a4a;
}
